<body>
    <br>
   <a href="/admin/addCoupons"><button  style="width:180px ;margin-left:50px" type="button" class="btn btn-primary">Add Coupons</button></a> 
    <br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Coupon-Name</th>
      <th scope="col">Coupon-Id</th>
      <th scope="col">Expiry Date</th>
      <th scope="col">Percentage</th>
      <th scope="col">Min Purchase Amount</th>
      <th scope="col">Max Discount Amount</th>
      <th scope="col">Status</th>
    
     
    </tr>
  </thead>
  <tbody>
    {{#each coupons}}
    <tr>
        <td>{{inc @index}}</td>
      <td>{{this.couponName}}</td>
      <td>{{this.couponId}}</td>
       <td>{{this.expDate}}</td>
        <td>{{this.couponPercentage}}</td>
      <td>{{this.minAmount}}</td>
     
      <td>{{this.maxdiscount}}</td>
     
      <td>
  
          <a href="/admin/editCoupon?id={{this._id}}" class="btn btn-primary">EDIT</a>
        <a href="/admin/deleteCoupon/{{this._id}}" class="btn btn-danger" onclick="return confirm('ARE YOU TO DELTE')">DELETE</a>
      
         </td>

    </tr>
    {{/each}}
  </tbody>
</table>
</body>
