<body class="animsition">

    <!--//============================================================HEADER STARTS HERE==================================================================//--->
    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        Free shipping for standard order over World
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <a href="/userLogin" class="flex-c-m trans-04 p-lr-25">
                            {{#if user}}
                            {{user.name}}
                            <a href="/userProfile" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                            <a href="/userLogout" class="flex-c-m trans-04 p-lr-25">
                                LOGOUT
                            </a>
                            {{else}}
                            LOGIN
                            {{/if}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="/" class="logo">
                        <img src="../Client/images/icons/logo-01.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li class="active-menu">
                                <a href="/">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="/">Homepage 1</a></li>
                                    
                                </ul>
                            </li>

                            <li>
                                <a href="/products">Shop</a>
                            </li>

                            {{#each categories}}
                            <li>
                                <a href="/viewCategoryWise?id={{this._id}}">{{category}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>

                        {{#if user}}
                        <a href="/cart">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart icon-header-noti"
                                data-notify="{{cartCount}}">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </a>
                        <a href="/wishList"
                            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                            data-notify="{{wishlistCount}}">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                        {{else}}
                        <a href="/userLogin">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </a>
                        <a href="/userLogin" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                        {{/if}}
                    </div>

                </nav>

            </div>

        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/"><img src="../Client/images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>

                {{#if user}}
                <a href="/cart">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart icon-header-noti"
                        data-notify="{{cartCount}}">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </a>
                <a href="/wishList"
                    class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                    data-notify="{{wishlistCount}}">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
                {{else}}
                <a href="/userLogin">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </a>
                <a href="/userLogin" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
                {{/if}}

            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="/userLogin" class="flex-c-m trans-04 p-lr-25">
                            {{#if user}}
                            {{user.name}}
                            <a href="/userProfile" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                            <a href="/userLogout" class="flex-c-m trans-04 p-lr-25">
                                LOGOUT
                            </a>
                            {{else}}
                            LOGIN
                            {{/if}}
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="index.html">Home</a>
                    <ul class="sub-menu-m">
                        <li><a href="/">Homepage </a></li>

                    </ul>
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>

                <li>
                    <a href="/products">Shop</a>
                </li>
                {{#each categories}}
                <li>
                    <a href="/viewCategoryWise?id={{this._id}}">{{category}}</a>
                </li>
                {{/each}}

            </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img src="../Client/images/icons/icon-close2.png" alt="CLOSE">
                </button>

                <form class="wrap-search-header flex-w p-l-15" action="/searchProducts" method="post">
                    <input class="plh3" type="text" name="search" id="search-products" placeholder="Search Products">
                    <button type="submit" class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                </form>


            </div>
        </div>
        </div>
    </header>
    <!--//============================================================HEADER ENDS HERE==================================================================//--->




    <!-- Slider -->
    <section class="section-slide">
        <div class="wrap-slick1">
            <div class="slick1">
                {{#each banners}}
                <div class="item-slick1" style="background-image: url(/banner-images/{{this._id}}.jpg);">
                    <div class="container h-full">
                        <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                <span class="ltext-101 cl2 respon2">
                                    {{this.name}}
                                </span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                    {{this.title}}
                                </h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                <a href="/products"
                                    class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>

    <!--========================================== CATEGORIES======================== ==========================-->
    <!-- Banner -->
    <div class="sec-banner bg0 p-t-80 p-b-50">
        <div class="container">
            <div class="row">
                {{#each categories}}
                <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                    <!-- Block1 -->
                    <div class="block1 wrap-pic-w">
                        <img src="/category-images/{{this._id}}.jpg" alt="IMG-BANNER">

                        <a href="/viewCategoryWise?id={{this._id}}"
                            class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                            <div class="block1-txt-child1 flex-col-l">
                                <span class="block1-name ltext-102 trans-04 p-b-8">
                                    {{category}}
                                </span>

                                <span class="block1-info stext-102 trans-04">
                                    Spring 2018
                                </span>
                            </div>

                            <div class="block1-txt-child2 p-b-4 trans-05">

                                <div class="block1-link stext-101 cl0 trans-09">

                                    Shop Now

                                </div>

                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>


    <!-- Product -->
    <section class="bg0 p-t-23 p-b-140">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">
                    Product Overview
                </h3>
            </div>

            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                        All Products
                    </button>


                </div>

                <div class="flex-w flex-c-m m-tb-10">


                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Search
                    </div>
                </div>

                <!-- Search product -->
                <div class="dis-none panel-search w-full p-t-10 p-b-15">
                    <form action="/searchProducts" method="post">
                        <div class="bor8 dis-flex p-l-15">
                            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                                <i class="zmdi zmdi-search"></i>
                            </button>

                            <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search"
                                placeholder="Search">
                        </div>
                    </form>
                </div>


            </div>

            <div class="row isotope-grid">
                {{#each products}}
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <!-- Block2 -->
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <a href="/getProductDetail?id={{this._id}}"><img src="/product-images/{{this._id}}.jpg"
                                    alt="IMG-PRODUCT"></a>


                        </div>

                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                {{#if this.discountPercentage}}
                                <a href="#" style="color: black;" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    {{this.name}}
                                   
                                </a>

                                <span class="stext-105 cl3">
                                    <span style="color: black;font-weight:bolder;">  Rs. {{this.price}}</span> 
                                    <strike class="pl-2" style="color: rgb(4, 3, 3);font-size:smaller"> Rs.{{this.originalPrice}}</strike>
                                     <span   style="color: rgb(230, 104, 104); font-size:x-small" >({{this.discountPercentage}}% OFF)</span>
                                </span>
                                <span class="stext-105 cl3">
                                  
                                </span>

                                {{else}}
                                <a href="" style="color: black;" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    {{this.name}}
                                </a>
                                <span class="stext-105 cl3" style="color: black;font-weight:bolder;">
                                    Rs. {{this.price}}
                                </span>
                                {{/if}}
                            </div>

                            <div class="block2-txt-child2 flex-r p-t-3">
                                {{#if ../user}}
                                <a onclick="addToWishList('{{this._id}}')"
                                    class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04"
                                        src="../Client/images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                        src="../Client/images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                                {{else}}
                                <a href="/userLogin" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04"
                                        src="../Client/images/icons/icon-heart-01.png" alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                        src="../Client/images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}

            </div>


            <!-- Load more -->
            <div class="flex-c-m flex-w w-full p-t-45">
                <a href="/" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 mb-2 trans-04">
                    Load More
                </a>
            </div>
        </div>
    </section>




</body>