<body class="animsition">

    <!--//============================================================HEADER STARTS HERE==================================================================//--->
    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>

                    <div class="right-top-bar flex-w h-full">
                        <a href="/userLogin" class="flex-c-m trans-04 p-lr-25">
                            {{#if user}}
                            {{user.name}}
                            <a href="/userProfile" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                            <a href="/userLogout" class="flex-c-m trans-04 p-lr-25">
                                LOGOUT
                            </a>
                            {{else}}
                            LOGIN
                            {{/if}}
                        </a>
                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="/" class="logo">
                        <img src="../Client/images/icons/logo-01.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li class="active-menu">
                                <a href="/">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="/">Homepage 1</a></li>

                                </ul>
                            </li>

                            <li>
                                <a href="/products">Shop</a>
                            </li>

                            {{#each categories}}
                            <li>
                                <a href="/viewCategoryWise?id={{this._id}}">{{category}}</a>
                            </li>
                            {{/each}}


                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-searchh">
                            <i class="zmdi zmdi-search "></i>

                            {{!-- <section id="list-items"
                                style=" position: absolute; max-width: 100%;  z-index: 5;  background-color: wheat; width: 500px; border-style: ; border-radius: 10px;  display: none;">
                                --}}
                        </div>

                        {{#if user}}
                        <a href="/cart">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart icon-header-noti"
                                data-notify="{{cartCount}}">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </a>
                        {{else}}
                        <a href="/userLogin">
                            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                        </a>
                        {{/if}}
                        {{#if user}}
                        <a href="/wishList"
                            class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                            data-notify="{{wishlistCount}}">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                        {{else}}
                        <a href="/userLogin" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>
                        {{/if}}
                    </div>

                </nav>

            </div>

        </div>

        <!-- Header Mobile -->
        <div class="wrap-header-mobile">
            <!-- Logo moblie -->
            <div class="logo-mobile">
                <a href="/"><img src="../Client/images/icons/logo-01.png" alt="IMG-LOGO"></a>
            </div>

            <!-- Icon header -->
            <div class="wrap-icon-header flex-w flex-r-m m-r-15">
                <div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
                    <i class="zmdi zmdi-search"></i>
                </div>

                {{#if user}}
                <a href="/cart">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart icon-header-noti"
                        data-notify="{{cartCount}}">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </a>
                <a href="/wishList"
                    class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti"
                    data-notify="{{wishlistCount}}">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
                {{else}}
                <a href="/userLogin">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-cart">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </a>
                <a href="/userLogin" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 ">
                    <i class="zmdi zmdi-favorite-outline"></i>
                </a>
                {{/if}}

            </div>

            <!-- Button show menu -->
            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>


        <!-- Menu Mobile -->
        <div class="menu-mobile">
            <ul class="topbar-mobile">
                <li>
                    <div class="left-top-bar">
                        Free shipping for standard order over $100
                    </div>
                </li>

                <li>
                    <div class="right-top-bar flex-w h-full">
                        <a href="/userLogin" class="flex-c-m trans-04 p-lr-25">
                            {{#if user}}
                            {{user.name}}
                            <a href="/userProfile" class="flex-c-m trans-04 p-lr-25">
                                My Account
                            </a>
                            <a href="/userLogout" class="flex-c-m trans-04 p-lr-25">
                                LOGOUT
                            </a>
                            {{else}}
                            LOGIN
                            {{/if}}
                    </div>
                </li>
            </ul>

            <ul class="main-menu-m">
                <li>
                    <a href="/">Home</a>
                    <ul class="sub-menu-m">
                        <li><a href="/">Homepage </a></li>

                    </ul>
                    <span class="arrow-main-menu-m">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>

                <li>
                    <a href="/products">Shop</a>
                </li>

                {{#each categories}}
                <li>
                    <a href="/viewCategoryWise?id={{this._id}}">{{category}}</a>
                </li>
                {{/each}}
            </ul>
        </div>

        <!-- Modal Search -->
        <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
            <div class="container-search-header">
                <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                    <img src="../Client/images/icons/icon-close2.png" alt="CLOSE">
                </button>

                <form class="wrap-search-header flex-w p-l-15" action="/searchProducts" method="post">
                    <input class="plh3" type="text" name="search" id="search-products" placeholder="Search Products">
                    <button type="submit" class="flex-c-m trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                </form>
            </div>
        </div>
        </div>
    </header>
    <!--//============================================================HEADER ENDS HERE==================================================================//--->






    <!--========================================== CATEGORIES======================== ==========================-->
    <!-- Banner -->


    <!-- Product -->
    <section class="bg0 p-t-23 p-b-140 " style="height: 100%;">
        <div class="container">
            <div class="p-b-10 mt-5 pt-5">
                <h3 class="ltext-103 cl5">
                    WISHLIST
                </h3>
            </div>
            {{#ifEquals wishlistCount '0'}}

            <div class="text-center mt-5 pt-5">
                <h1>YOUR WISH LIST IS EMPTY</h1>
                <br>
                <a href="/" style="width: 250px;background-color:royalblue"  class="btn btn-secondary ">CONTINUE SHOPPING</a>
            </div>
            {{else}}

            <div class="row isotope-grid mt-5">
                {{#each products}}
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <!-- Block2 -->

                    <div class="card">
                        <div class="card-body">
                            <div class="block2">
                                <div class="block2-pic hov-img0">
                                    <a href="/getProductDetail?id={{this.product._id}}"><img
                                            src="/product-images/{{this.product._id}}.jpg" alt="IMG-PRODUCT"></a>


                                </div>

                                <div class="block2-txt flex-w flex-t p-t-14">
                                    <div class="block2-txt-child1 flex-col-l ">
                                        <a href="" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                            {{this.product.name}}
                                        </a>

                                        <span class="stext-105 cl3" style="font-weight: bold;">
                                            ₹. {{this.product.price}}
                                        </span>
                                        <br>
                                    </div>

                                    <div>
                                        <button onclick="addToCart('{{this.product._id}}')"
                                            class=" btn-secondary  btn-sm">
                                            Add to cart
                                        </button>
                                        <button onclick="removeFromWishList('{{this.product._id}}','{{this._id}}')"
                                            class="btn-danger btn-sm ml-2  ">
                                            Remove
                                        </button>
                                    </div>

                                    {{!-- <div class="block2-txt-child2 flex-r p-t-3">
                                        <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                            <img class="icon-heart1 dis-block trans-04"
                                                src="../Client/images/icons/icon-heart-01.png" alt="ICON">
                                            <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                                src="../Client/images/icons/icon-heart-02.png" alt="ICON">
                                        </a>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>
            {{/ifEquals}}
            <!-- Load more -->
            {{!-- <div class="flex-c-m flex-w w-full p-t-45">
                <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                    Load More
                </a>
            </div> --}}
        </div>
    </section>



</body>